//颜色
$color-theme-white: rgb(255,255,255);
$color-theme-grey: rgb(245,245,245);
$color-theme-blue: rgb(16,106,199);
$color-theme-darkgrey: rgb(170,172,168);
// 字号
$font-size-small: 12px;
$font-size-medium: 15px;
$font-size-lage: 16px;